#gamegrid {
	margin: auto;
	padding: 0;
	width: 600px;
	background-color: #2B9447;
	border: 2px solid black;
	border-collapse: collapse;
}

td {
	width: 75px;
	height: 75px;
	border: 1px solid #134721;
	box-shadow:  0 0 15px #227839 inset;
}

.valid {
	background-color: #43B561;
}

.black-highlight {
	background: black;
	background-image: -webkit-linear-gradient(bottom, #000000 0%, #363636 100%);
	background-image: linear-gradient(to bottom, #000000 0%, #363636 100%);
	width: 75;
	height: 75px;
	border-radius: 36px;
	opacity: 0.4;
}

.white-highlight {
	background: white;
	background-image: -webkit-linear-gradient(bottom, #D9D9D9 0%, #FFFFFF 100%);
	background-image: linear-gradient(to bottom, #D9D9D9 0%, #FFFFFF 100%);
	width: 75;
	height: 75px;
	border-radius: 36px;
	opacity: 0.4;
}

.flipPath {
	position: absolute;
	background: red;
}

#player-chipslot, #opponent-chipslot {
	width: 70px;
	height: 605px;
	border: 2px solid black;
	border-radius: 5px;
	position: absolute;
	padding: 10px 0 10px 30px;
	left: 50%;
	background-color: #785814;
	box-shadow:  -20px -8px 45px #4D380E inset;
}

#player-chipslot {
	margin-left: -425px;
}

#opponent-chipslot{
	margin-left: 325px;
}

/*#canvas {
	position: absolute;

	background: red;
	opacity: 0.3;
	top: 92px;
	left: 50%;
	margin-left: -300px;
}*/
